---
import { type CollectionEntry, getCollection } from 'astro:content'
import BlogPost from '../../layouts/BlogLayout.astro'
import { Image } from 'astro:assets'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<'blog'>

const post = Astro.props

const { data } = post
const { title, ...rest } = data

const { Content } = await post.render()
---

<BlogPost title={title} {...rest}>
  <h1>{title}</h1>
  {
    data.heroImage && (
      <Image src={data?.heroImage} alt="hero image" width="1012" height="506" />
    )
  }
  <Content />
</BlogPost>
