---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
import { fade } from 'astro:transitions'
// import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import '../styles/global.css'
interface Props {
  title?: string
  description?: string
}

const { title = 'needs title', description = 'needs description' } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head><body>
    <Header title={title} />
    <main>
      <slot transition:animate={fade({ duration: '2s' })} />
      <Footer />
    </main>
  </body>
</html>
